@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* .dark-mode, .light-mode {
    transition: filter 0.5s, background-color 0.5s, color 0.5s;
} */

:root {
  --background-color: #ffffff;
  --foreground-color: #242328;

  --border-color: #524e60;
  --border-width: 2.5px;
}

html {
  font-size: 25px;
}
body {
  background: var(--background-color);
  color: var(--foreground-color);
  font-family: "Nunito", sans-serif;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
}

main {
  border: var(--border-color) solid var(--border-width);
  border-radius: 10px;
  padding: 20px;
  max-width: 40rem;
}

footer {
  margin-top: 20px;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.colored-font {
  filter: brightness(100%) saturate(100%);
  font-weight: 800;
}

.undecorated {
  color: inherit;
  text-decoration: none;
}

.inverted-color {
  color: var(--background-color);
}

.caption {
  font-size: 0.75rem;
}

.bordered {
  border: var(--border-color) solid var(--border-width);
  border-radius: 10px;
}

.hover-shadow {
  position: relative;
  left: 0;
  top: 0;
  box-shadow: 0 0 var(--border-color);
  transition: box-shadow 0.15s ease-in-out, left 0.15s ease-in-out,
    top 0.15s ease-in-out;
}

.hover-shadow:hover {
  left: -2px;
  top: -2px;
  box-shadow: 4px 4px var(--border-color);
}

.foreground-filter {
  filter: brightness(0) saturate(100%) invert(13%) sepia(6%) saturate(1395%)
    hue-rotate(214deg) brightness(95%) contrast(88%);
}

.fitted-image {
  max-width: 100%;
  height: auto;
}

.project-container {
  border-radius: 10px;
  width: 10rem;
  height: 11.5rem;
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  text-decoration: none;
  color: inherit;

  p {
    margin: 0;
  }

  img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 10px;
  }
}

/*----------------------------------------------------------------------------*/

#container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

#info-card {
  min-width: 8rem;
  width: 8rem;
  min-height: 21rem;
  height: 21rem;
  border: var(--border-color) solid var(--border-width);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  p {
    margin: 0;
  }
}

#nav-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#icon-links {
  margin: 20px 10px 0 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px 22.5px;
  justify-content: center;

  img {
    width: 30px;
    top: 0;
    transform: scale(1);
    transition: transform 0.15s ease-out, top 0.15s ease-out;
  }
  img:hover {
    transform: scale(1.1);
    top: -0.1rem;
  }
}

@media screen and (max-width: 900px) {
  .hide-on-mobile {
    visibility: hidden;
    display: none;
  }
  #container {
    flex-direction: column;
  }
  #info-card {
    box-sizing: border-box;

    width: 100%;
    min-height: auto;
    height: auto;
  }
  #nav-links {
    flex-direction: row;
    gap: 10px;
    a {
      width: 100%;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #d7c7e1;
    --background-color: #000000;
  }
  .foreground-filter {
    filter: brightness(0) saturate(100%) invert(92%) sepia(12%) saturate(1226%)
      hue-rotate(198deg) brightness(93%) contrast(89%);
  }
  .colored-font {
    filter: brightness(130%) saturate(70%);
  }
}
