:root {
    --rose-pine-base: #191724;        /* Base Background */
    --rose-pine-surface: #1f1d2e;     /* Surface Background */
    --rose-pine-overlay: #26233a;     /* Overlay Background */
    --rose-pine-muted: #6e6a86; /* Muted Color (Gray) */
    --rose-pine-subtle: #908caa;
    
    --rose-pine-pine: #31748f; /* Pine Color (Warm Yellow) */
    --rose-pine-rose: #ebbcba;         /* Rose Color (Soft Lavender) */
    --rose-pine-foam: #9ccfd8; /* Foam Color (Cool Light Blue) */
    --rose-pine-love: #eb6f92;
    --rose-pine-gold: #f6c177;
    --rose-pine-iris: #c4a7e7;
    
    --rose-pine-text: #e0def4; /* Text Color (Soft Gray) */
    --rose-pine-highlightlow: #21202e;
    --rose-pine-highlightmed: #403d52;
    --rose-pine-highlighthigh: #524f67;
}

@font-face {
    font-family: 'rainyhearts';
    src: url('fonts/rainyhearts.woff2') format('woff2'),
         url('fonts/rainyhearts.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: var(--rose-pine-text);
    margin: auto;
    font-family: 'rainyhearts', serif;
    font-size: 2rem;
    max-width: 100%;
    overflow-x: hidden;
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 3rem;
    color: var(--rose-pine-iris);
}

a {
    color: inherit;
}

#headerCanvas {
    background: black;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
#main {
    background-color: var(--rose-pine-base);
    max-width: 850px;
    margin: 200px auto 0 auto;
    padding: 20px;
    border-style:double;
    border-color: var(--rose-pine-highlighthigh);
    border-width: 14px;
}

.hoverlink {
    text-decoration: none;
    position: relative;
    top: 0px;
    transition: top 0.1s ease-in-out;
}


.hoverlink img {
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

.hoverlink:hover {
    top: -6px;
}

.hoverlink:hover img {
    transform: scale(1.12);
}

header #littleme {
    width: 160px;
    height: 320px;
    background: url('images/lilme.gif');
    background-size: 100% 100%;
    position:absolute;
    top: -37px;
    right: calc(50% - 420px);
    margin-left: 30px;
}

#shortbio {
    max-width: 800px;
    margin: 15px auto;
    font-size: 3rem;
    display: flex;
    align-items: center;
}

#shortbio p {
    text-align: left;
}

#shortbio img {
    margin-right: 30px;
}

#biolinks {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}

#projects {
    max-width: 800px;
    margin: 0 auto;
    font-size: 2rem;
}

#links {
    margin-bottom: 45px;
}

#projects a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

#projects img {
    margin: 0 30px;
    border-style: solid;
    border-width: 4px;
    border-color: var(--rose-pine-muted);
}

#projects p {
    margin-right: 30px;
    color: var(--rose-pine-muted);
}
#projects p span {
    color: var(--rose-pine-text);
    font-weight: bold;
}

#nutshells {
    font-size: 2rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
#nutshells article {
    max-width: 800px; 
    margin: 30px 10px;
    padding: 0 30 px;
    font-size: 1rem;
    text-align: left;
}

#nutshells article p {
    margin-bottom: 20px;
}

footer {
    margin-top: 200px; /*temporary */
    padding-top: 15px;
    background-color: black;
    color: white;
    text-align: right;
    padding-right: 100px;
}

footer img {
    width: 100px;
}

footer span {
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 850px) {
    /*header #greeting {
        width: 360px;
        height: 36px;
        left: calc(50% - 180px);
        top: 10px;
    }
    
    #main {
        padding-top: 45px;
    }

    header #littleme {
        right: calc(50% - 80px);
    }
    */
    header #littleme {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    #shortbio {
        display: block;
    }
    #shortbio img {
        margin-right: auto;
    }
    #shortbio p {
        text-align: center
    }
}

@media screen and (max-width: 660px) {
    #nutshells {
        margin-bottom: 30px;
    }

    #projects a {
        display: inline;
    }
    #projects img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: 30px;
    }
    #projects p {
        margin-left: 40px;
    }
}

@media screen and (max-width: 380px) {
    #biomiddash {
        display: none
    }
    #biolinks a {
        display: block;
        text-align: left;
    }
}

@media screen and (max-width: 330px) {
    header #littleme {
        background: none;
    }
}