@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --rose-pine-base: #191724;        /* Base Background */
    --rose-pine-surface: #1f1d2e;     /* Surface Background */
    --rose-pine-overlay: #26233a;     /* Overlay Background */
    --rose-pine-muted: #6e6a86; /* Muted Color (Gray) */
    --rose-pine-subtle: #908caa;
    
    --rose-pine-pine: #31748f; /* Pine Color (Warm Yellow) */
    --rose-pine-rose: #ebbcba;         /* Rose Color (Soft Lavender) */
    --rose-pine-foam: #9ccfd8; /* Foam Color (Cool Light Blue) */
    --rose-pine-love: #eb6f92;
    --rose-pine-gold: #f6c177;
    --rose-pine-iris: #c4a7e7;
    
    --rose-pine-text: #e0def4; /* Text Color (Soft Gray) */
    --rose-pine-highlightlow: #21202e;
    --rose-pine-highlightmed: #403d52;
    --rose-pine-highlighthigh: #524f67;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--rose-pine-base);
    color: var(--rose-pine-text);
    margin: auto;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    max-width: 100%;
    overflow-x: hidden;
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--rose-pine-iris);
    margin: auto 30px;
}

a {
    color: inherit;
}

#aboutme {
    padding: 40px;
    text-align: left;

    h1 {
        text-align: center;
        margin-top: 40px;
    }

    img {
        width:60%;
        margin: 20px;
    }

    .hoverlink {
        color: var(--rose-pine-foam);
    }
    p {
        margin-bottom: 20px;
    }
    ol {
        margin: 60px;
    }
}

#headerCanvas {
    background: var(--rose-pine-base);
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}
.main {
    background-color: var(--rose-pine-surface);
    max-width: 850px;
    margin: 60px auto;
    padding: 25px;
    border-style:solid;
    border-color: var(--rose-pine-highlighthigh);
    border-width: 3px;
    border-radius: 20px;
}

.hoverlink {
    text-decoration: none;
    position: relative;
    top: 0px;
    transition: top 0.1s ease-in-out;
}


.hoverlink img {
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

.hoverlink:hover {
    top: -0.25rem;
}
.hoverlink:hover img {
    transform: scale(1.12);
}

header #littleme {
    width: 160px;
    height: 320px;
    background: url('images/lilme.gif');
    background-size: 100% 100%;
    position:absolute;
    top: -37px;
    left: calc(50% - 100px);
    margin-left: 30px;
}

#shortbio {
    max-width: 800px;
    margin: 0px 30px 10px 30px;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

#shortbio .text {
    margin-left: auto;
}
#shortbio h1 {
    text-align: right;
    margin-left: auto;
    margin-right: auto;
}
#shortbio p {
    max-width: 320px;
    text-align: right;
    margin-left: auto;
}

#sociallinks {
    margin-left: auto;
    margin-top: 40px;
}

#sociallinks img {
    width: 50px;
    margin: 10px 10px 0px 10px;
}

#coollinks {
    font-size: 1.75rem;
}

#coollinks a {
    margin: 0 15px;
}

#biolinks {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

#projects {
    max-width: 800px;
    margin: 0 auto;
    font-size: 2rem;
}

#projects a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

#projects img {
    margin: 0 30px;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: var(--rose-pine-highlighthigh);
}

#projects p {
    margin-right: 30px;
    color: var(--rose-pine-muted);
    font-size: 1.25rem;
    text-align: left;
}
#projects p span {
    color: var(--rose-pine-text);
    font-weight: bold;
    font-size: 1.5rem;
}

#nutshells {
    font-size: 2rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
#nutshells article {
    max-width: 800px; 
    margin: 30px 10px;
    padding: 0 30 px;
    font-size: 1rem;
    text-align: left;
}

#nutshells article p {
    margin-bottom: 20px;
}

.prettyImage {
    border: var(--rose-pine-highlighthigh);
    border-style: solid;
    border-radius: 10px;
}

footer {
    margin-top: 200px; /*temporary */
    padding-top: 15px;
    background-color: black;
    color: white;
    text-align: right;
    padding-right: 100px;
}

footer img {
    width: 100px;
}

footer span {
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 810px) {
    #shortbio {
        display: block;
        img {
            margin-right: auto;
        }
        p {
            text-align: center;
            margin-right: auto;
            max-width: 100%;
        }
        h1 {
            text-align: center;
        }
    }
}

@media screen and (max-width: 660px) {
    #nutshells {
        margin-bottom: 30px;
    }

    #projects a {
        display: inline;
    }
    #projects img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: 30px;
    }
    #projects p {
        margin-left: 40px;
        text-align: center;
    }
}

@media screen and (max-width: 380px) {
    /*
    #biomiddash {
        display: none
    }
    #biolinks a {
        display: block;
        text-align: left;
    }
    */
    #links span {
        display: none;
    }
    #links a {
        display: block;
        text-align: left;
    }
}

@media screen and (max-width: 330px) {
    header #littleme {
        background: none;
    }
}